body{
    margin: 0%;
    padding: 0%;

}


/* ====================VIDA ACADEMICA================== */
.section-content-vida-academica{
    position: absolute;
    width: calc(100% - 400px);
    height: 25em;
    top: 0%;
    left: 20em;
    margin-top: 7em;
}


.content-vida-academica{
    width: 400px;
 }
#faltas p{
    color: black;
}
 select{
     width: calc(100% - 20px);
     height: 30px;
 }


 /*============================ CONSULTA PROVA============================ */
 .header{
     background-color: #292929;
     height: 100px;
     color: white;
 }
 .caixa-prova{
    border: 3px solid black;
    padding: 50px;
    font-size: 30px;
}
.area-prova-realizada{
    max-width: 500px;   
    margin-left: 20px;
    margin-top: 20px;
    background-color: white;
    padding: 5px;
}
.prova-realizadas{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center; 
}

.list-group-item{
    cursor: pointer;
}


/* ========================Atividade extra============= */
.aventos-img img{
    max-width:250px;
    height: 100%;
}

/* ========================Materia/curso============= */
.materia-portugues{
    margin-left: 30px;
}



/* ===============usuario=========== */
.card-aluno {
   width: 50em;
}
.card-aluno p{
    font-size: 1.3em;
}